.wrapper {
  position: relative;
  padding-bottom: 5px;
  border-top: 1px solid rgb(206, 204, 204);
  overflow: auto;
  height: 100%;
  z-index: 1; // Ensure dropdowns can appear above
  tr {
    &:hover {
      background: #748eff !important;
    }
  }

  .titleId {
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 0px !important;
    overflow: visible;
    flex: 1;
    position: relative; // Allow absolute positioning for dropdown
    z-index: 1; // Base z-index for the cell

    .item-options {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
      position: relative;
      z-index: 9999; // Higher than sticky headers
    }
    


    &:hover {
      .item-options {
        visibility: visible;
        opacity: 1;
      }
      z-index: 9999; // Ensure the whole cell is above other content when hovering
    }
  }

  .tdEdit .edit {
    visibility: hidden;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    cursor: pointer;
  }

  .tdEdit .save {
    visibility: hidden;
    position: absolute;
    right: 22px;
    top: 2px;
    font-size: 16px;
    color: rgb(90, 90, 90);
    cursor: pointer;
  }

  .tdEdit:hover .edit {
    visibility: visible;
  }
  .tdEdit:hover .save {
    visibility: visible;
  }

  .tdEdit {
    position: relative;
  }

  .data {
    color: black;
    cursor: pointer;
  }

  .itemsList {
    height: 100%;
  }
}
