.wrapper {
    padding: 10px;

    .annualChartContainer{
        span {
            margin: 3px;
            cursor: pointer;
        }
    }

    .glowSpan{
        background-color: #a8cafd;
        box-shadow: 0px 3px 7px 5px #a8cafd;        
    }
}