// #282c34 background that I like
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.appWrapper {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 90px calc(100vh - 90px);
  grid-template-areas:
  "sb hh"
  "sb vv";
  
  width: 100%;
  height: 100vh;
}

.form-group{
  margin-bottom: 4px !important;
}
.spacer {
  flex: 1;
}

body {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  
}

html{
  background-color: #27292c;
}

td {
  font-size: 12px;
}

.table-responsive {
  overflow: visible !important;
}