.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #888;
  max-width: 400px; /* Adjusted to a max-width for responsiveness */
  width: 100%; /* Full width on smaller screens */
  border-radius: 8px;
  max-height: 500px;
}

.listingInfo {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
}
.modalHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  //   border-bottom: 1px solid #ddd;
}

.modalHeader h2 {
  margin: 0;
}

.closeModal {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
    color: #333;
    border-color: #999;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  }
}

.modalBody {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 400px;
  padding: 5px;
  overflow-y: scroll;
}
.modalBody::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.modalBody::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb transparent */
}

.modalBody:hover::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Change the scrollbar thumb color on hover */
}

.itemContainer {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer img {
  width: 150px;
  height: auto;
}

.detailsContainer {
  padding: 3px;

  p {
    margin: 2px;
  }
}
