.wrapper {
  overflow: scroll;
  .titleTd {
    display: flex;
    text-align: left;
    padding-left: 0px !important;
    .expense-options {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s linear;
    }

    &:hover {
      .expense-options {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
