.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;

    &>div {
        display: flex;
        align-items: flex-end;
        margin-bottom: -15px;
    }

    .logo {
        //color is #3b3b3b
        height: 50px;
    }

    h1 {
        font-family: "Neucha";
        color: rgb(240, 240, 240);
        margin-left: 10px;
        margin-bottom: -10px;
        border-bottom: 1px solid white;
        padding: 0 5px;
    }

}