.wrapper {
    grid-area: sb;
    background-color: #27292c;
    p {
        margin-bottom: 0 !important;
    }
    a {
        text-decoration: none !important;
        color: white !important;
    }
}