.editItemModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);


  h2 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input, textarea {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .categoryId{
      width: 130px !important;
    }
  }
  

  /* Ensures inputs in the same row are displayed side-by-side */
  .formRow {
    display: flex;
    align-items: center;
    gap: 10px;

    .formGroup {
      flex: 1; /* Ensures inputs take equal width */
    }
  }

  .buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:first-of-type {
        background-color: #ccc;
      }

      &:last-of-type {
        background-color: #007bff;
        color: white;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
